client/out/**
out/**
.vscode/**
node_modules/**
client/node_modules/**
dist/**
build.vsix

/out
/node_modules
/target
/dist/classpath
/dist/linux
/dist/mac
/dist/windows
/jdks

/dependency-reduced-pom.xml
/classpath.txt
/test-classpath.txt
/docpath.txt

*.log
*.log.*
.idea
*.iml
*.vsix
.DS_store
node_modules
*.vsix
out/**
dist/**
